* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Work Sans", sans-serif;
    display: grid;
    grid-template-areas:
        "Header Header Header"
        "Main Main Main"
        "Footer Footer Footer";
    height: 100vh;
    width: 100vw;
    grid-template-rows: 5% auto auto;
}

header {
    grid-area: Header;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    padding: 1em 2em 1em 2em;
    width: 100%;
}

.navbar ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.navbar li {
    margin: 0 30px;
}

.navbar a {
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    padding: 7px 10px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
}

main {
    grid-area: Main;
}

.hero-container {
    background: url("../assets/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 3em;
}

.hero-article {
    padding: 15em;
    text-align: center;
    color: white;
}

.intro-container {
    font-family: "Work Sans", sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3em;
}

.developers-container {
    font-family: "Work Sans", sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3em;
}

.connect-container {
    font-family: "Work Sans", sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3em;
}

.craft-article-container {
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 3em;
    gap: 5em;
}

.craft-article-container div {
    width: 32%;
    border-radius: 12px;
    border: 1px solid grey;
}

.craft-article-container h2, .craft-article-container h3, .craft-article-container h4, .craft-article-container a {
  padding: 1em;
}



.craft-article-container div img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}



footer {
    grid-area: Footer;
}